body{margin:0;background:#000;color:#fff;font-family:Arial}
header{background:#000;border-bottom:2px solid gold;padding:10px;position:fixed;width:100%}
.logo{height:70px}
.hero{height:100vh;background:url('fondo.jpg') center/cover;display:flex;justify-content:center;align-items:center}
.overlay{background:rgba(0,0,0,.6);padding:30px}
h1,h2{color:gold}
section{padding:80px 30px}